<mat-menu #resourceMenu>
    <button mat-menu-item routerLink="/editor">Editor</button>
    <button mat-menu-item routerLink="/browse">Browse</button>
    <button mat-menu-item routerLink="/validate">Validate</button>
</mat-menu>

<td-layout [class]="'theme-light'">
    <td-navigation-drawer flex sidenavTitle="Covalent">
        <span flex></span>
        <a>Browse</a>
        <a>Menu</a>
    </td-navigation-drawer>
    <td-layout-nav  toolbarTitle="Aire Logic - FHIR Validation" navigationRoute="/">
        <div td-toolbar-content layout="row" layout-align="start center" flex>
            <span flex></span>
            <button mat-icon-button matTooltip="Upload Resource" (click)="fileInput.click()">
                <mat-icon>cloud_upload</mat-icon>
                <input #fileInput type="file" (change)="doReadFile($event)" style="display:none"/>
            </button>
            <button mat-icon-button [disabled]="errorCount==0" matTooltip="Validation Errors" [matMenuTriggerFor]="notificationsMenu">
                <td-notification-count color="accent" [notifications]="errorCount">
                    <mat-icon>notifications</mat-icon>
                </td-notification-count>
            </button>
            <mat-menu #notificationsMenu="matMenu">
                <td-menu>
                   <!-- <div td-menu-header class="mat-subheading-2 push-none">Summary</div> -->
                    <mat-nav-list>
                        <ng-template let-last="last" ngFor let-item [ngForOf]="validationFlags">
                            <div td-menu-header>
                                {{item.item}}
                                <td-notification-count [color]="item.colour" [notifications]="item.count">
                                </td-notification-count>
                            </div>
                            <mat-divider *ngIf="!last"></mat-divider>
                        </ng-template>
                    </mat-nav-list>
                    <button mat-button color="accent" routerLink="/validate" td-menu-footer>
                        See Full Report
                    </button>
                </td-menu>
            </mat-menu>
            <a mat-icon-button matTooltip="View Mode" [matMenuTriggerFor]="resourceMenu"><mat-icon>developer_mode</mat-icon><mat-icon>arrow_drop_down</mat-icon></a>
        </div>

       <router-outlet></router-outlet>
    </td-layout-nav>
</td-layout>

