<div class="body">
   <!-- <span *ngIf="entries != undefined && entries.length >0"> -->
<mat-sidenav-container fullscreen>
    <mat-sidenav mode="side" opened>
        <mat-nav-list>
            <ng-template let-entry let-last="last" ngFor [ngForOf]="entries">
                <a mat-list-item (click)="onClick(entry)">
                    <!-- <mat-icon matListAvatar>{{entry.icon}}</mat-icon> -->
                    <h3 matLine> {{entry.resource.resourceType}} </h3>
                    <p matLine> {{entry.resource.id}} </p>
                </a>
                <mat-divider [inset]="true" *ngIf="!last"></mat-divider>
            </ng-template>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <div class="body">
            <mat-card>
            <td-json-formatter [data]="resource" key="root" [levelsOpen]="8">
            </td-json-formatter>
                </mat-card>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>

</div>