<mat-menu #resourceMenu>
    <button mat-menu-item routerLink="/editor">Editor</button>
    <button mat-menu-item routerLink="/browse">Browse</button>
    <button mat-menu-item routerLink="/validate">Validate</button>
</mat-menu>
<td-layout [class]="'theme-light'">
    <td-navigation-drawer flex sidenavTitle="Covalent">
        <span flex></span>
        <a>Browse</a>
        <a>Menu</a>
    </td-navigation-drawer>
    <td-layout-nav  toolbarTitle="FHIR Browser" navigationRoute="/">
        <div td-toolbar-content layout="row" layout-align="start center" flex>
            <span flex></span>
            <td-file-input class="push-left-sm push-right-sm" #fileInput (select)="selectEvent($event)" color="accent"
                           [(ngModel)]="files">
                <mat-icon>folder</mat-icon>
            </td-file-input>
            <button mat-icon-button matTooltip="Validation Errors" [matMenuTriggerFor]="notificationsMenu">
                <td-notification-count color="accent" [notifications]="errorCount">
                    <mat-icon>notifications</mat-icon>
                </td-notification-count>
            </button>
            <mat-menu #notificationsMenu="matMenu">
                <td-menu>
                    <div td-menu-header class="mat-subheading-2 push-none">Summary</div>
                    <mat-nav-list>
                        <ng-template let-last="last" ngFor let-item [ngForOf]="validationFlags">
                            <a mat-list-item>
                                <td-notification-count color="warn" [notifications]="item.count">
                                </td-notification-count>
                                <mat-icon>{{item.icon}}</mat-icon>
                                <h4 mat-line>
                                    {{item.item}}
                                </h4>
                            </a>
                            <mat-divider *ngIf="!last"></mat-divider>
                        </ng-template>
                    </mat-nav-list>
                    <button mat-button color="accent" routerLink="/validate" td-menu-footer>
                        See Full Report
                    </button>
                </td-menu>
            </mat-menu>
            <a mat-icon-button matTooltip="Menu" [matMenuTriggerFor]="resourceMenu"><mat-icon>menu</mat-icon></a>
        </div>

       <router-outlet></router-outlet>
    </td-layout-nav>
</td-layout>

