
<div *tdLoading="'overlayStarSyntax'; mode:'indeterminate'; type:'circle'; strategy:'overlay'; color:'accent'">
     <div tdFullScreen>
          <div td-toolbar-content layout="row" layout-align="start" flex>
               <div>&nbsp;</div>


               <button mat-stroked-button color="accent" [matTooltip]="'Download'"  (click)="save()"><mat-icon>cloud_download</mat-icon> Download</button>

               <button mat-stroked-button color="accent" [matTooltip]="'Validate'" (click)="validate()"><mat-icon>spellcheck</mat-icon> Validate</button>
               <span flex></span>
               <mat-form-field color="accent">
                    <mat-select [(value)]="language" >
                         <mat-option value="json">JSON</mat-option>
                         <mat-option value="xml">XML</mat-option>
                    </mat-select>
               </mat-form-field>
          </div>
         <!-- -->

          <div style="overflow: hidden; height: 800px">
               <td-code-editor tdFullScreen [(ngModel)]="model" style="height: 100%;" theme="vs"
                               automaticLayout="true"
                               [language]="language"></td-code-editor>
          <!-- <ngx-monaco-editor style="height: 100%" [options]="editorOptions" [(ngModel)]="model" (onInit)="onInit($event)"></ngx-monaco-editor> -->
          </div>
     </div>
</div>